{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Funds{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="col-md-8">
    <h1><em>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}.</em>
    </h1>
</div>
{#
<div>
    {% if current_user.can(Perm.W) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
#}
<table class="table table-hover table-condensed">
    <thead>
    <tr class="info">
        <th>#指数代码</th>
        <th>指数简称</th>
        <th>收盘价</th>
        <th>市盈率</th>
        <th>分位点</th>
        <th>市净率</th>
        <th>市销率</th>
        <th>更新日期</th>
        <th>基金数量</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for showindex in showindexes %}
    <tr>
        <td>{{ showindex.fund_trackindexcode }}</td>
        <td>{{ showindex.sec_name }}</td>
        <td>{{ showindex.close | round(2) }}</td>
        <td>{{ showindex.pe_ttm | round(2) }}</td>
        <td class="danger">{{ showindex.quantile | round(2) }}</td>
        <td>{{ showindex.pb_lf | round(2) }}</td>
        <td>{{ showindex.ps_ttm | round(2) }}</td>
        <td>{{ showindex.date }}</td>
        <td>{{ showindex.count }}</td>
        <td><a class="btn btn-success btn-sm"
               href="{{ url_for('main.the_funds', fti=showindex.fund_trackindexcode) }}"
               role="button"><em>Funds</em></a></td>
        <td><a class="btn btn-primary btn-sm" href="#" role="button"><em>Data</em></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}
