{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Funds{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block page_content %}
<script src="/static/jquery-3.3.1.min.js"></script>
<script>
    $(function(){
        $("#fwd").click(function(){
            $.ajax({
                url: 'http://127.0.0.1:5000/',
                type: 'POST',
                async: false,
                data: {'order': 'fwd'}
            });
        });
        $("#-fwd").click(function(){
            $.ajax({
                url: 'http://127.0.0.1:5000/',
                type: 'POST',
                async: false,
                data: {'order': '-fwd'}
            });
        });
        $("#qsr").click(function(){
            $.ajax({
                url: 'http://127.0.0.1:5000/',
                type: 'POST',
                async: false,
                data: {'order': 'qsr'}
            });
        });
        $("#-qsr").click(function(){
            $.ajax({
                url: 'http://127.0.0.1:5000/',
                type: 'POST',
                async: false,
                data: {'order': '-qsr'}
            });
        });
        $("#jjs").click(function(){
            $.ajax({
                url: 'http://127.0.0.1:5000/',
                type: 'POST',
                async: false,
                data: {'order': 'jjs'}
            });
        });
        $("#-jjs").click(function(){
            $.ajax({
                url: 'http://127.0.0.1:5000/',
                type: 'POST',
                async: false,
                data: {'order': '-jjs'}
            });
        });
    });

</script>
<div class="col-md-8">
    <h1><em>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}.</em>
    </h1>
</div>
{#
<div>
    {% if current_user.can(Perm.W) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
#}
<table class="table table-hover table-condensed">
    <thead>
    <tr class="info">
        <th>#指数代码</th>
        <th>指数简称</th>
        <th>收盘价</th>
        <th>市盈率</th>
        <th>
            <div class="dropdown">
                分位点
                <span id="dropdownMenu1" class="caret" data-toggle="dropdown"></span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a id="fwd" href="{{ url_for('main.index') }}">升序</a></li>
                    <li><a id="-fwd" href="{{ url_for('main.index') }}">降序</a></li>
                </ul>
            </div>
        </th>
        <th>危险值</th>
        <th>机会值</th>
        <th>市净率</th>
        <th>市销率</th>
        <th>
            <div class="dropdown">
                起始日
                <span id="dropdownMenu2" class="caret" data-toggle="dropdown"></span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a id="qsr" href="{{ url_for('main.index') }}">升序</a></li>
                    <li><a id="-qsr" href="{{ url_for('main.index') }}">降序</a></li>
                </ul>
            </div>
        </th>
        <th>更新日</th>
        <th>
            <div class="dropdown">
                基金数
                <span id="dropdownMenu3" class="caret" data-toggle="dropdown"></span>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                    <li><a id="jjs" href="{{ url_for('main.index') }}">升序</a></li>
                    <li><a id="-jjs" href="{{ url_for('main.index') }}">降序</a></li>
                </ul>
            </div>
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for showindex in showindexes %}
    <tr>
        <td>{{ showindex.fund_trackindexcode }}</td>
        <td>{{ showindex.sec_name }}</td>
        <td>{{ showindex.close | round(2) }}</td>
        <td>{{ showindex.pe_ttm | round(2) }}</td>
        <td>
            <a href="{{ url_for('main.the_data', fti=showindex.fund_trackindexcode) }}">
                <span class="label label-warning">{{ (showindex.quantile | round(4)) * 100 }}%</span>
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.the_data', fti=showindex.fund_trackindexcode) }}">
                <span class="label label-danger">{{ showindex.danger | round(2) }}</span>
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.the_data', fti=showindex.fund_trackindexcode) }}">
                <span class="label label-success">{{ showindex.chance | round(2) }}</span>
            </a>
        </td>
        <td>{{ showindex.pb_lf | round(2) }}</td>
        <td>{{ showindex.ps_ttm | round(2) }}</td>
        <td>{{ showindex.start_date }}</td>
        <td>{{ showindex.date }}</td>
        <td>{{ showindex.count }}</td>
        <td><a class="btn btn-primary btn-xs"
               href="{{ url_for('main.the_funds', fti=showindex.fund_trackindexcode) }}"
               role="button">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a>
        </td>
        <td><a class="btn btn-info btn-xs"
               href="{{ url_for('main.the_data', fti=showindex.fund_trackindexcode) }}"
               role="button">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
