{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Funds{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}

{% block page_content %}
{#
<script src="/static/jquery-3.3.1.min.js"></script>
#}
<div class="col-md-12">
    <h1><em>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}.</em>
    </h1>
</div>
{#
<form method='post'>
    {{ form.csrf_token }}
    {{ form.start_time(placeholder='Start with...') }}
    {{ form.submit() }}
</form>
#}
{#
<div>
    {% if current_user.can(Perm.W) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
#}
<div class="fund-tabs">
    <ul class="nav nav-tabs">
        <li{% if cycle == 'all' %} class="active"{% endif %}><a href="{{ url_for('.index_all') }}"><em>All</em></a></li>
        <li{% if cycle == '2006' %} class="active"{% endif %}><a href="{{ url_for('.index_2006') }}"><em>2006</em></a></li>
        <li{% if cycle == '2014' %} class="active"{% endif %}><a href="{{ url_for('.index_2014') }}"><em>2014</em></a></li>
    </ul>
</div>
<br>
<table class="table table-hover table-condensed table-bordered">
    <thead>
    <tr class="info">
        <th style="text-align:center">#</th>
        <th style="text-align:center">指数代码</th>
        <th style="text-align:center">指数简称</th>
        <th style="text-align:center">收盘价</th>
        <th style="text-align:center">市盈率</th>
        <th style="text-align:center">分位点
            <a id="fwd" href="{{ url_for('main.index_order', order='fwd') }}"><b>↓</b></a>
            <a id="-fwd" href="{{ url_for('main.index_order', order='-fwd') }}"><b>↑</b></a>
        </th>
        <th style="text-align:center">危险值</th>
        <th style="text-align:center">机会值</th>
        <th style="text-align:center">市净率</th>
        <th style="text-align:center">市销率</th>
        <th style="text-align:center">起始日
            <a id="qsr" href="{{ url_for('main.index_order', order='qsr') }}"><b>↓</b></a>
            <a id="-qsr" href="{{ url_for('main.index_order', order='-qsr') }}"><b>↑</b></a>
        </th>
        <th style="text-align:center">更新日</th>
        <th style="text-align:center">基金数
            <a id="jjs" href="{{ url_for('main.index_order', order='jjs') }}"><b>↓</b></a>
            <a id="-jjs" href="{{ url_for('main.index_order', order='-jjs') }}"><b>↑</b></a>
        </th>
        <th style="text-align:center">所属周期</th>
        {#
        <th style="text-align:center"></th>
        <th style="text-align:center"></th>
        #}
    </tr>
    </thead>
    <tbody>
    {% for showindex in showindexes %}
    <tr style="text-align:center">
        <td><b>{{ loop.index }}</b></td>
        <td>{{ showindex.fund_trackindexcode }}</td>
        <td>{{ showindex.sec_name }}</td>
        <td>{{ showindex.close | round(2) }}</td>
        <td>{{ showindex.pe_ttm | round(2) }}</td>
        <td>
            <a href="{{ url_for('main.the_data', fti=showindex.fund_trackindexcode) }}">
                <span class="label label-warning">{{ (showindex.quantile | round(4)) * 100 }}%</span>
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.the_data', fti=showindex.fund_trackindexcode) }}">
                <span class="label label-danger">{{ showindex.danger | round(2) }}</span>
            </a>
        </td>
        <td>
            <a href="{{ url_for('main.the_data', fti=showindex.fund_trackindexcode) }}">
                <span class="label label-success">{{ showindex.chance | round(2) }}</span>
            </a>
        </td>
        <td>{{ showindex.pb_lf | round(2) }}</td>
        <td>{{ showindex.ps_ttm | round(2) }}</td>
        <td>{{ showindex.start_date }}</td>
        <td>{{ showindex.date }}</td>
        <td>
            <a href="{{ url_for('main.the_funds', fti=showindex.fund_trackindexcode) }}">
                <span class="label label-primary">{{ showindex.count }}</span>
            </a>
        </td>
        <td>{{ showindex.cycle }}</td>
        {#
        <td><a class="btn btn-primary btn-xs"
               href="{{ url_for('main.the_funds', fti=showindex.fund_trackindexcode) }}"
               role="button">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></a>
        </td>
        <td><a class="btn btn-info btn-xs"
               href="{{ url_for('main.the_data', fti=showindex.fund_trackindexcode) }}"
               role="button">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span></a>
        </td>
        #}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
